extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is a bakend for a simple blog app with crud operations
  p This application is built with Node, Express, GraphQL and MongoDB
  p This application exposes both GraphQL and RESTful Endpoints
  
